.floating-div {
  margin-left: 800px;
  margin-top: 200px;
  position: fixed;
  background-color: rgb(226, 160, 171);
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  animation: float 3s infinite ease-in-out alternate;
  z-index: 9999;
}

@keyframes float {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(200px);
  }
}

/* @keyframes float {
  from {
    transform: translate(220px, 200px);
  }
  to {
    transform: translateY(1000px, -200px);
  }
} */
