.floating-div {
  margin-left: 800px;
  margin-top: 200px;
  position: fixed;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  animation: float 3s infinite ease-in-out alternate;
  z-index: 9999;
  background-color: rgb(226, 160, 171);
}

@keyframes float {
  from {
    transform: translate(100px, 0);
  }
  to {
    transform: translate(0, 100px);
  }
}
