.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}
.box-image {
  border-radius: 5px;
  height: 200px;
  box-shadow: 0 0 10px rgb(228, 227, 227);
  margin: 20px 0 20px 0;
}
.box-create {
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 0 10px rgb(228, 227, 227);
}
.box-card-one {
  box-shadow: 0 0 10px rgb(228, 227, 227);
}
.box-dropdown {
  width: 300;
}
.box-drop:hover {
  background-color: grey;
}
.box-drop:focus {
  background-color: grey;
}

.title-icon-drop {
  height: auto;
}
.title-text {
  height: auto;
}
.box-icon-drop {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 2px solid white;
  background-color: #4285f4;
}
.box-icon-drop:hover {
  background-color: pink; /* Đổi màu nền khi hover */
  cursor: pointer; /* Biểu tượng con trỏ khi hover */
}
/* YourComponent.css */
.box-post {
  display: flex;
  justify-content: space-between;
}

.box-post-left {
  width: 28%;
}

.box-post-right {
  width: 70%;
  margin-left: 2%;
}
