.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.box-image {
  width: 1190px;
  height: 255px;
  background-image: url("../../../../assets/img/banner-post2.png");
  border-radius: 5px;
}
.box-create {
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 0 10px rgb(228, 227, 227);
}
.box-card-one {
  box-shadow: 0 0 10px rgb(228, 227, 227);
}
.box-create-post {
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  color: rgb(35, 35, 35);
  box-shadow: 0 0 10px rgb(192, 183, 183);
  cursor: pointer;
}
.box-infor {
  padding-top: 10px;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  color: rgb(35, 35, 35);
  box-shadow: 0 0 10px rgb(225, 224, 224);
  cursor: pointer;
}
.box-post {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.box-post-left {
  width: 20%;
}
.box-post-right {
  width: 78%;
  margin-left: 2%;
}
.box-background {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.title-icon-drop {
  height: auto;
}
.title-text {
  height: auto;
}
.box-icon-drop {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 2px solid white;
  background-color: #4285f4;
}
.box-icon-drop:hover {
  background-color: pink;
  cursor: pointer;
}

.rich-text-editor {
  padding: 10px;
}
.box-create-post:hover div > .link-create {
  color: #0b6cd3;
}
