.view_editor_jodit_abc {
  border: none !important;
  margin-top: 2px;
  border-radius: 10px;
  min-height: 70px !important;
  cursor: pointer;
}

.view_editor_jodit_abc .jodit-status-bar .jodit-powered-by {
  display: none !important;
}

.jodit-status-bar {
  display: none !important;
}

.jodit-wysiwyg,
.jodit-workplace,
.jodit-container {
  min-height: 70px !important;
  height: min-content;
}

.view_editor_jodit_abc .jodit-wysiwyg {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
}
