body {
  background-image: url("");
}

.period-project-box {
  padding-top: 111px;
  padding-left: 10px;
  padding-right: 10px !important;
  padding-bottom: 10px;
}

.period-project-content {
  height: calc(100vh - 121px);
  background-color: white;
  border-radius: 15px;
}
