.app {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App td {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: rgb(205, 179, 75);
  color: white;
}

.ant-table-wrapper .ant-table-thead > tr > th:hover {
  background-color: #dad6cc;
  color: rgb(153, 124, 8);
}
/* Scoll bar */
::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(38, 144, 214) !important;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(38, 144, 214) !important;
}
