.app {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App td {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(9, 30, 66, 0.3) transparent;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(9, 30, 66, 0.3);
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #d5b662;
  color: white;
}

.ant-table-wrapper .ant-table-thead > tr > th:hover {
  background-color: #dad6cc;
  color: rgb(153, 124, 8);
}
