.box-button-center {
  margin: 40px 0px 30px 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-button {
  background-color: rgb(68, 179, 123);
  border-radius: 5px;
  width: 35%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-button {
  padding: 10px 20px;
  background-color: rgb(68, 179, 123);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.box-button:hover {
  box-shadow: 0 0 15px rgba(11, 99, 251, 0.3);
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}
