.data-table {
  margin: 100px 0px 0xp 0px;
  height: auto;
  width: "100%";
}
.centered-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-collapse-header:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
}
.ant-collapse-header {
  border: none;
  width: 900px;
  border-radius: 8px;
}
.box-title.active .ant-collapse-header {
  background-color: rgb(214, 236, 250);
  border-bottom: 1px solid rgb(240, 240, 240);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.box-title {
  width: 70%;
  min-height: 68px;
  height: auto;
  display: block;
  place-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.title-left {
  min-height: 40px;
  line-height: auto;
  height: auto;
  float: left;
  min-width: 600px;
  width: 75%;
  margin-left: 20px;
}

.title-right {
  float: right;
  width: 25%;
  font-size: 13px;
  color: grey;
}
