.teacher-post .card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.teacher-post .box-image {
  width: auto;
  height: 255px;
  background-image: url("../../../../assets/img/banner-post2.png");
  border-radius: 5px;
  background-size: cover;
}
.teacher-post .box-create {
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 0 10px rgb(228, 227, 227);
}
.teacher-post .box-card-one {
  box-shadow: 0 0 10px rgb(228, 227, 227);
}
.teacher-post .box-create-post {
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  color: rgb(35, 35, 35);
  box-shadow: 0 0 10px rgb(192, 183, 183);
  cursor: pointer;
}
.teacher-post .box-infor {
  padding-top: 10px;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  color: rgb(35, 35, 35);
  box-shadow: 0 0 10px rgb(225, 224, 224);
  cursor: pointer;
  height: 140px;
  padding: 5px 0px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.teacher-post .box-post {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.teacher-post .box-post-left {
  width: 20%;
}
.teacher-post .box-post-right {
  width: 78%;
  margin-left: 2%;
}
.teacher-post .box-background {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
}
.teacher-post .card-title {
  font-size: 18px;
  font-weight: bold;
}
.teacher-post .title-icon-drop {
  height: auto;
}
.teacher-post .title-text {
  height: auto;
}
.teacher-post .box-icon-drop {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 2px solid white;
  background-color: #4285f4;
}
.teacher-post .box-icon-drop:hover {
  background-color: pink;
  cursor: pointer;
}
.teacher-post .rich-text-editor {
  padding: 10px;
}
.teacher-post .box-create-post:hover div > .link-create {
  color: #0b6cd3;
}
.teacher-post .ant-card-body {
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.teacher-post .box-infor > p {
  text-align: center;
}
.teacher-post .box-infor span,
.teacher-post .box-infor p {
  font-weight: 500;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 100%) {
  .teacher-post .box-infor span,
  .teacher-post .box-infor p {
    font-size: 14px;
  }
}
.teacher-post .title-main {
  padding: 8px 0px 0px 15px;
  font-weight: 500;
  font-size: 17px;
}
.teacher-post .infor-main {
  font-size: 25px !important;
  padding: 1px;
  font-weight: bold !important;
  color: #b78e3d;
}
.teacher-post .see-more {
  float: right;
  background-color: rgb(38, 144, 214);
  color: "white";
}
.teacher-post .see-more:hover {
  float: right;
  background-color: rgb(38, 144, 214);
  box-shadow: 0px 0px 20px 1px rgba(148, 148, 148, 0.3);
  color: "white";
}
