.box-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.box-filter {
  margin: 13px 10px 15px 13px;
  background-color: rgb(255, 255, 255);
  width: 98%;
  min-height: 100px;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}
.content-class {
  margin: 0px 15px 15px 15px;
}
.content-class span {
  font-size: 17px;
  font-weight: 400;
}
.box-card {
  margin: 0px 0px 0px 15%;
  width: 70%;
  min-height: 68px;
  height: auto;
  display: flex;
  place-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.box-card:hover {
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
.flex-container {
  display: flex;
  align-items: center;
}
.title-icon {
  height: auto;
}
.title-text {
  height: auto;
}
.box-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 2px solid white;
  background-color: #4285f4;
  margin-right: 10px;
}
.title-left {
  min-height: 40px;
  line-height: auto;
  height: auto;
  float: left;
  min-width: 600px;
  width: 75%;
  margin-left: 20px;
}

.title-right {
  float: left;
  width: 35%;
  font-size: 13px;
  color: grey;
}
.title-text {
  font-size: 16px;
  color: black;
  white-space: normal;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

.data-table {
  margin: 100px 0px 0xp 0px;
}
