.list {
  background-color: #ebecf0;
  border-radius: 20px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 9px;
  padding: 4px;
  /* width: 275px; */
  min-width: 262px;
  height: fit-content;
  max-height: calc(100vh - 142px);
}

.list-title-header {
  color: #3e3e3e;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  padding: 8px;
  padding-left: 11px;
  margin-bottom: 4px;
}

.menu_list {
  margin-right: 0;
  align-items: center;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
}

.input_change_list_title {
  height: 28px;
  width: 90%;
}

.task-list {
  border-radius: 3px;
  padding: 4px;
  padding-bottom: 0;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-list.dragging-over {
  background-color: #eaecef;
}

.task-list::-webkit-scrollbar {
  width: 7px;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: rgba(9, 30, 66, 0.3);
  border-radius: 4px;
}

.task-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.add-task-button {
  height: 30px;
  font-size: 14px;
  background-color: #ededed;
  border: none;
  cursor: pointer;
}

.add-task-button:hover {
  height: 30px;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* CSS class cho phần tử "Add Card" */
.add-task-button {
  background-color: #ebebeb;
  border: none;
  font-size: 14px;
  color: rgb(64, 64, 64);
  border-radius: 25px;
  cursor: pointer;
  padding: 8px;
  text-align: left;
}

.add-task-button:hover {
  background-color: #dfdfdf;
  font-size: 14px;
  border-radius: 25px;
}

/* CSS class cho phần tử "Add Task Form" */
.add-task-form {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(9, 30, 66, 0.25);
  padding: 8px;
  width: 252px;
  /* min-width: 260px; */
  text-align: left;
}

.add-task-form input[type="text"] {
  width: 100%;
}

.add-task-form .save-task-button {
  background-color: #2d8bce;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  padding: 8px;
}

.add-task-form .save-task-button:hover {
  background-color: #1a7fc8;
}

.add-task-form .cancel-task-button {
  background-color: #ff3232;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 5px;
  padding: 8px;
}

.add-task-form .cancel-task-button:hover {
  background-color: #fd1d1d;
}
