.popup-member-management {
  color: black;
}

.header-member-management {
  text-align: center;
  padding: 7px;
  border-bottom: 1px solid black;
}

.box-member-management {
  overflow-y: auto;
  height: 520px !important;
}

.box-member-management::-webkit-scrollbar {
  width: 8px;
}

.box-member-management::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  width: 8px;
}

.box-member-management::-webkit-scrollbar-thumb {
  background-color: #bfbfbfe1;
  width: 8px;
}

.box-member-management::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbfe1;
}

.table-member-management tbody td {
  padding: 7px !important;
}

.box_add_member {
  margin-top: 10px;
  margin-bottom: 15px;
}
