/* MeetingDetail.css */

.meeting-container {
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(243, 243, 243, 0.2);
}

.meeting-title {
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.meeting-info {
  font-size: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(252, 252, 252, 0.2);
}

.btn_save_attendance_detail_meeting {
  position: fixed;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  bottom: 25px;
  background-color: rgb(38, 144, 214);
  color: white !important;
}
