.box-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-students-in-class {
  margin: 15px 10px 15px 13px;
  background-color: rgb(255, 255, 255);
  width: 98%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}
.link-change {
  color: rgb(25, 24, 24);
  font-weight: 500;
}
.avatarMember {
  border-radius: 50%;
  height: 5px;
  width: 5px;
}
.row_table {
  height: 50px;
}
.table_modal_project_management {
  padding-top: 0px;
}
.progress-block {
  height: 31px;
  background-color: #ffffff;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgb(229, 229, 229);
}
.progress-bar {
  height: 31px;
  background-color: #007bff;
}
.progress-block:hover {
  border: 1px solid #007bff;
}
