.box-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-class {
  margin: 0px 15px 0px 15px;
}
.content-class span {
  font-size: 17px;
  font-weight: 400;
}

.box-two-student-in-my-class-son {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
}

.box-two-student-in-my-class {
  padding: 25px;
}
