.box-icon-square {
  display: inline-block;
  width: 40px;
  height: 34px;
  line-height: 34px;
  background-color: #007bff;
  border-radius: 4px;
  text-align: center;
  border: 1px solid white;
}
.box-icon-square:hover {
  background-color: #386ec3;
}
