.my_class_my {
  padding: 25px;
  padding-top: 50px;
}

.filter_my_class {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgba(148, 148, 148, 0.3);
  padding: 10px;
}

body {
  background-image: url("");
}

.table_myclass {
  background-color: white;
  margin-top: 35px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgba(148, 148, 148, 0.3);
  height: auto;
  padding: 15px;
}

.content_filter {
  padding: 20px;
}

.btn_join_class {
  background-color: rgb(54, 142, 220);
  color: white;
}

.btn_filter {
  background-color: rgb(231, 192, 35) !important;
}
