.class_management {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.table-class-management {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

.table-class-management-info {
  float: left;
}

.createButton {
  float: right;
}
