.teacher-meeting .data-table {
  margin: 30px 0px 0px 0px;
  height: auto;
  width: 100%;
}
.box-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.teacher-meeting .box-card {
  width: 70%;
  min-height: 68px;
  height: auto;
  display: flex;
  place-items: center;
  align-items: center;
  border-radius: 7px;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.teacher-meeting .box-card:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(11, 99, 251, 0.3);
  transition: box-shadow 0.3s, background-color 0.3s;
  background-color: rgb(238, 245, 249);
  cursor: pointer;
}
.box-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 2px solid white;
  background-color: #4285f4;
}
.title-left {
  min-height: 40px;
  line-height: auto;
  height: auto;
  float: left;
  width: auto;
}

.title-right {
  float: left;
  width: 35%;
  font-size: 13px;
  color: grey;
}
.title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-text {
  font-size: 16px;
  color: black;
  white-space: normal;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}
