.custom-table > thead > tr > th {
  background-color: #d2b156;
  color: white;
}
.custom-table {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  overflow: hidden;
}
.custom-table th {
  font-size: 13px;
  height: 60px;
}
.custom-table td {
  font-size: 13px;
  height: 55px;
  border-bottom: 0.5px solid rgb(237, 237, 237);
}
.custom-table th,
.custom-table td {
  text-align: center;
  padding: 1px;
}
.column-AP {
  min-width: 15px;
  max-width: auto;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}
