.box-filter {
    margin: 13px 10px 15px 13px;
    background-color: rgb(255, 255, 255);
    width: 98%;
    min-height: 100px;
    height: auto;
    min-height: 84%;
    border-radius: 5px;
    padding: 20px;
  }
  .box-icon-detail {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #3976d7;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border: 2px solid white;
    margin-right: 10px;
  }
  .row-meeting {
    margin: 25px 0px 0px 0px;
  }
  