.teacher-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-collapse .ant-collapse-header:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(11, 99, 251, 0.3);
  transition: box-shadow 0.3s, background-color 0.3s;
  background-color: rgb(238, 245, 249);
  cursor: pointer;
}
.teacher-collapse .ant-collapse-header {
  border: none;
  width: 1000px;
  border-radius: 8px;
}
.teacher-collapse .box-title.active .ant-collapse-header {
  background-color: rgb(214, 236, 250);
  border-bottom: 1px solid rgb(240, 240, 240);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.teacher-collapse .box-title {
  width: 80%;
  min-height: 68px;
  height: auto;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.teacher-collapse .title-left {
  min-height: 40px;
  line-height: auto;
  height: auto;
  float: left;
  min-width: 600px;
  width: 75%;
  margin-left: 20px;
}
.teacher-collapse .title-right {
  float: left;
  width: 25%;
  font-size: 13px;
  color: grey;
}
.row-meeting {
  display: flex;
  flex-direction: column;
}
.teacher-collapse .row-meeting > div:last-child {
  flex-grow: 1;
  max-width: 100%;
  overflow-x: auto;
}
.teacher-collapse .title-main {
  color: black;
  font-size: 17px;
  float: left;
}

.teacher-collapse .panel-collap {
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 100px) {
  .teacher-collapse .panel-collap {
    width: auto;
    border-radius: 0;
    box-shadow: none;
  }
}
